{% load static %}
<nav class="main-nav">
    <img class="logo" src="{% static 'academic/images/logo.png' %}" alt="">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Academics</a></li>
        <li><a href="#">Students</a></li>
        <li><a href="#">Library</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Resources</a></li>
    </ul>
    <div class="socials">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
    </div>
</nav>