
{% load static %}
<div class="mini-about">
    <!-- vision -->
        <div class="about-card">
            <div class="about-icon">
                <i class="fa-solid fa-earth-africa"></i>
            </div>
            <div class="about-main">
                <h4>Our Vision</h4>
                <p>To be a University of global excellence, meeting the dynamic needs and development of society.</p>
            </div>
        </div>
        <!-- mission -->
        <div class="about-card">
            <div class="about-icon">
                <i class="fa-solid fa-cloud"></i>
            </div>
            <div class="about-main">
                <h4>Our Mission</h4>
                <p>To conserve, create and disseminate knowledge through, training, research, innovation and community outreach.</p>
            </div>
        </div>
        <!-- programmes -->
        <div class="about-card">
            <div class="about-icon">
                <i class="fa-solid fa-pen"></i>
            </div>
            <div class="about-main">
                <h4>Our Programmes</h4>
                <p>Professional Certificates, Certificate, Diploma, Undergraduate, Masters and PhD programmes</p>
            </div>
        </div>
        <!-- campus -->
        <div class="about-card">
            <div class="about-icon">
                <i class="fa-solid fa-pen"></i>
            </div>
            <div class="about-main">
                <h4>Main Campus</h4>
                <p>Karatina University Main Campus is Situated 15km North off Karatina town at Kagochi, Karatina, Nyeri County</p>
            </div>
        </div>      
</div>